{:profiles
;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any
 {:goku {:default true
         :sim     50
         :delay   400
         :alone   400
         :held    400}
  }

 :applications {
                :Emacs ["^org\\.gnu\\.Emacs$"]
                :Citrix ["^com\\.citrix\\.receiver\\.nomas$"]
                :Music ["^com\\.apple\\.Music$"]
                }

 :tos {
       :left_paren  {:key :9 :modi [:left_shift] :lazy true}
       :right_paren {:key :0 :modi [:left_shift] :lazy true}
       :fn_tilde    {:key :fn :lazy true}
       :r_ctrl      {:key :right_control :lazy true}
       :l_ctrl      {:key :left_control :lazy true}
       :l_cmd       {:key :left_command :lazy true}
       :shyper      {:key :right_command :modi [:right_option :right_shift :right_control]}
       :hyper       {:key :right_command :modi [:right_option :right_control]}
       :super       {:key :right_shift :modi [:right_command :right_control]}
       :shopco      {:key :right_shift :modi [:right_option :right_control]}
       }

 :templates {
             :open "open \"%s\""
             :alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"\"'"
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
             }

 ;; layers are...
 :layers {
          ;; NOTE for this setting to work need to remap caps_lock to control
          ;; key in settings
          :hyper-mode {:key :caps_lock :alone {:key :escape} :condi :!Emacs}
          :tab-mode              {:key     :tab
                                  :afterup [{:set ["yabai-move-mode" 0]}
                                            {:set ["yabai-scale-mode" 0]}
                                            {:set ["spec-mode" 0]}]
                                  :condi   [:!comma-mode :!period-mode]}
          :yabai-move-mode       {:key :f :condi :tab-mode}
          :yabai-scale-mode      {:key :c :condi :tab-mode}
          :spec-mode             {:key :s :condi :tab-mode}
          }
 :simlayers {
             ;; :f-mode {:key :f}
             ;; :o-mode {:key :o}
             ;; :h-mode {:key :h}
             ;; :q-mode {:key :q}
             :app-mode {:key :a}
             :num-mode {:key :q}
             :media-mode {:key :w}
             }
 :main [
        ;; remap keys
        {:des   "caps_lock to esc, to ctrl as modifier"
         :rules [[:##caps_lock :l_ctrl nil {:alone :escape}]]}
        {:des   "return_enter to return_enter, to ctrl as modifier"
         :rules [[:##return_or_enter :r_ctrl nil {:alone :return_or_enter}]]}
        {:des   "left_shift to paranthesis, or left_shift as modifier"
         :rules [[:##left_shift :left_shift nil {:alone :left_paren}]]}
        {:des   "right_shift to paranthesis, or right_shift as modifier"
         :rules [[:##right_shift :right_shift nil {:alone :right_paren}]]}
        {:des   "grave_accent_and_tilde to fn as modifier"
         :rules [[:##grave_accent_and_tilde :fn_tilde nil {:alone :grave_accent_and_tilde}]]}
        {:des   "left_command to left_option"
         :rules [[:##left_command :left_option]]}
        {:des   "left_option to left_command"
         :rules [[:##left_option :left_command]]}
        {:des   "SHyper"
         :rules [[:##left_control :shyper]]}
        {:des   "Hyper"
         :rules [[:##right_command :hyper]]}
        {:des   "fn to Super"
         :rules [[:##fn :super]]}
        {:des   "left_control to shopco"
         :rules [[:##right_option :shopco]]}


        ;; numpad mode
        {:des "Numpad Mode"
         :rules [:num-mode
                 [:m :keypad_0]
                 [:j :keypad_1]
                 [:k :keypad_2]
                 [:l :keypad_3]
                 [:u :keypad_4]
                 [:i :keypad_5]
                 [:o :keypad_6]
                 [:7 :keypad_7]
                 [:8 :keypad_8]
                 [:9 :keypad_9]
                 [:period :keypad_period]
                 [:slash :keypad_slash]
                 [:semicolon :keypad_hyphen]
                 [:p :keypad_plus]
                 [:0 :keypad_asterisk]
                 ]}

        ;; media control mode
        {:des "media controls"
         :rules [:media-mode
                 [:m :mute]
                 [:p :play_or_pause]
                 [:k :volume_increment]
                 [:j :volume_decrement]
                 [:l :fastforward]
                 [:h :rewind]
                 ;; [:!Ol :!OCright_arrow :Music]
                 ;; [:!Oh :!OCleft_arrow :Music]
                 ]}

        ;; app launcher mode
        {:des "App Mode - launch apps"
         :rules [:app-mode
                 [:e [:open "/Applications/Emacs.app"]]
                 [:f [:open "/System/Library/CoreServices/Finder.app"]]
                 [:b [:open "/Applications/firefox.app"]]
                 [:8 [:open "/Applications/Karabiner-EventViewer.app"]]
                 [:9 [:open "/Applications/Karabiner-Elements.app"]]
                 [:p [:open "/Applications/PDF Expert.app"]]
                 [:o [:open "/Applications/Microsoft Outlook.app"]]
                 [:w [:open "/Applications/Microsoft Word.app"]]
                 [:t [:open "/Applications/Alacritty.app"]]
                 [:n [:open "/Applications/Notability.app"]]
                 [:r [:open "/Applications/Zotero.app"]]
                 [:x [:open "/Applications/Microsoft Excel.app"]]
                 [:d [:open "/Applications/Discord.app"]]
                 [:l [:open "/Applications/XMind.app"]]
                 [:m [:open "/System/Applications/Music.app"]]
                 [:z [:open "/Applications/zoom.us.app"]]
                 ]}

        {:des "Hyper Mode - Control"
         :rules [:!Emacs :hyper-mode
                 [:a :!Ta]
                 [:c :!Tc]
                 [:d :!Td]
                 [:z :!Tz]
                 [:!Rz :!RCz]
                 [:v :!Cv]
                 ]}

        {:des "Hyper Mode - Navigation [VI style]"
         :rules [:!Emacs :hyper-mode
                 [:j :down_arrow]
                 [:k :up_arrow]
                 [:h :left_arrow]
                 [:l :right_arrow]
                 [:b :!Oleft_arrow]
                 [:w :!Oright_arrow]
                 [:y :home]
                 [:u :page_up]
                 [:i :page_down]
                 [:o :end]
                 [:!Cj :!Sdown_arrow]
                 [:!Ck :!Sup_arrow]
                 [:!Ch :!Sleft_arrow]
                 [:!Cl :!Sright_arrow]
                 [:!Cb :!SOleft_arrow]
                 [:!Cw :!SOright_arrow]
                 [:!Cu :!Shome]
                 [:!Ci :!Send]
                 [:!OWj {:mkey {:vwheel 32}}]
                 [:!OWk {:mkey {:vwheel -32}}]
                 [:!OWh {:mkey {:hwheel 32}}]
                 [:!OWl {:mkey {:hwheel -32}}]
                 [:!Oj {:mkey {:y 1536}}]
                 [:!Ok {:mkey {:y -1536}}]
                 [:!Oh {:mkey {:x -1536}}]
                 [:!Ol {:mkey {:x 1536}}]
                 ;; press down the left pinky to get the shift key
                 [:!OSj {:mkey {:y 1536 :speed 0.5}}]
                 [:!OSk {:mkey {:y -1536 :speed 0.5}}]
                 [:!OSh {:mkey {:x -1536 :speed 0.5}}]
                 [:!OSl {:mkey {:x 1536 :speed 0.5}}]]}

        {:des "Hyper Mode - Mousekey"
         :rules [:!Emacs :hyper-mode
                 [:down_arrow {:mkey {:y 1536}}]
                 [:up_arrow {:mkey {:y -1536}}]
                 [:left_arrow {:mkey {:x -1536}}]
                 [:right_arrow {:mkey {:x 1536}}]
                 [:!Ou {:pkey :button1}]
                 [:!Oi {:pkey :button2}]]}

        {:des "Hyper Mode - Deletion"
         :rules [:!Emacs :hyper-mode
                 [:n :!Odelete_or_backspace]
                 [:m :delete_or_backspace]
                 [:comma :delete_forward]
                 [:period :!Odelete_forward]
                 [:!Cn :!Cdelete_or_backspace]
                 [:!Cm :!Cdelete_or_backspace]
                 [:!Ccomma :!Cdelete_forward]
                 [:!Cperiod :!Cdelete_forward]]}

        ;; {
        ;;  :des "Hyper Mode - Misc"
        ;;  :rules [:!Emacs :hyper-mode
        ;;          [:escape :caps_lock]
        ;;          [:grave_accent_and_tilde :!CS5]]
        ;;  }

         {:des   "yabai mode"
              :rules [
                      ;; :yabai-insert-mode
                      ;; [:h "/usr/local/bin/yabai -m window --insert west"]
                      ;; [:j "/usr/local/bin/yabai -m window --insert south"]
                      ;; [:k "/usr/local/bin/yabai -m window --insert north"]
                      ;; [:l "/usr/local/bin/yabai -m window --insert east"]

                      ;; move windows
                      :yabai-move-mode
                      [:h "/usr/local/bin/yabai -m window --warp west"]
                      [:j "/usr/local/bin/yabai -m window --warp south"]
                      [:k "/usr/local/bin/yabai -m window --warp north"]
                      [:l "/usr/local/bin/yabai -m window --warp east"]
                      ;; scale windows
                      :yabai-scale-mode
                      [:h "~/local/bin/yabai-resize left"]
                      [:j "~/local/bin/yabai-resize down"]
                      [:k "~/local/bin/yabai-resize up"]
                      [:l "~/local/bin/yabai-resize right"]
                      :tab-mode
                      [:backslash "launchctl kickstart -k \"gui/${UID}/homebrew.mxcl.yabai\""]
                      ;; focus mode
                      [:h "/usr/local/bin/yabai -m window --focus west"]
                      [:j "/usr/local/bin/yabai -m window --focus south"]
                      [:k "/usr/local/bin/yabai -m window --focus north"]
                      [:l "/usr/local/bin/yabai -m window --focus east"]
                      [:n "/usr/local/bin/yabai -m window --focus next"]
                      [:p "/usr/local/bin/yabai -m window --focus prev"]

                      ;; yabai workspace
                      ;; [:1 "/usr/local/bin/yabai -m space --focus 1"]
                      ;; [:2 "/usr/local/bin/yabai -m space --focus 2"]
                      ;; [:3 "/usr/local/bin/yabai -m space --focus 3"]
                      ;; [:4 "/usr/local/bin/yabai -m space --focus 4"]
                      [:a "/usr/local/bin/yabai -m window --toggle float"]
                      ;; [:0 "/usr/local/bin/yabai -m window --toggle sticky"]
                      [:0 "/usr/local/bin/yabai -m window --toggle zoom-parent"]
                      [:spacebar "/usr/local/bin/yabai -m window --toggle zoom-fullscreen"]
                      [:b "/usr/local/bin/yabai -m window --layout bsp"]
                      [:m "/usr/local/bin/yabai -m window --toggle zoom-parent"]
                      [:x "/usr/local/bin/yabai -m window --close"]
                      [:delete_or_backspace "/usr/local/bin/yabai -m window --close"]
                      [:open_bracket "/usr/local/bin/yabai -m window --space prev"]
                      [:close_bracket "/usr/local/bin/yabai -m window --space next"]]}]
 ;; code won't read cheatsheet section
 ;; ! stand for mandatory
 ;; # stand for optional
 ;; C T O S for left command control optional shift
 ;; F for fn
 ;; need to prefix C T O S F with ! or #
 :cheatsheet {:!Ca "command a" ;; mandatory left_command
              :!Ta "control a" ;; mandatory left_control
              :!Oa "option a"
              :!Sa "shift a"
              :#Sa "shift a" ;; keycode a, optional left_shift
              :!CTOa "command control option a"
              :!Cspacebar "command space"
              :!Fa "fn a"
              :##a "keycode a optional any"
              :!!a "mandatory hyper(control command option shift) a "
              :sample-configurations [
                                      {:des "Caps lock mode / Esc" :rules [[:##caps_lock {:set ["caps-lock-mode" 1]} nil {:alone :escape :afterup {:set ["caps-lock-mode" 0]}}]]}
                                      {:des "Caps vim navigation" :rules [:caps-lock-mode [:h :left_arrow] [:j :down_arrow] [:k :up_arrow] [:l :right_arrow]]}
                                      ]
              }}
