{:profiles
;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any
 {:goku {:default true
         :sim     50
         :delay   500                   ; NOTE may want to increase these value
         :alone   500
         :held    500}
  }

 :applications {
                :Emacs ["^org\\.gnu\\.Emacs$"]
                :Citrix ["^com\\.citrix\\.receiver\\.nomas$"
                         "^com\\.citrix\\.receiver\\.icaviewer\\.mac$"
                         ]
                :term ["^io\\.alacritty$"]
                :mail ["^com\\.microsoft\\.Outlook$"]
                :browser ["^org\\.mozilla\\.firefox$"
                          "^com\\.readdle\\.PDFExpert-Mac$"
                          ]
                :excel ["^com\\.microsoft\\.Excel$"]
                :notability ["^com\\.gingerlabs\\.NotabilityMac$"]
                :finder ["^com\\.apple\\.finder$"]
                }

 :tos {
       :left_paren  {:key :9 :modi [:left_shift] :lazy true}
       :right_paren {:key :0 :modi [:left_shift] :lazy true}
       :fn_tilde    {:key :##fn :lazy true}
       :tab         {:key :##tab :lazy true}
       :r_ctrl      {:key :##right_control :lazy true}
       :l_ctrl      {:key :##left_control :lazy true}
       :l_cmd       {:key :##left_command :lazy true}
       :shyper      {:key :right_command :modi [:right_option :right_shift :right_control] :lazy true}
       :hyper       {:key :right_command :modi [:right_option :right_control] :lazy true}
       :super       {:key :right_shift :modi [:right_command :right_control] :lazy true}
       :shopco      {:key :right_shift :modi [:right_option :right_control] :lazy true}
       }

 :templates {
             :open "open \"%s\""
             :alfred "osascript -e 'tell application \"com.runningwithcrayons.Alfred\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
             ;; :sh "/usr/local/bin/zsh \"s\""
             }

 ;; layers are...
 :layers {
          ;; NOTE for this setting to work need to remap caps_lock to control
          ;; key in settings
          :fn-tilde-mode         {:key :grave_accent_and_tilde
                                 :alone {:key :grave_accent_and_tilde}
                                 :condi :!Emacs
                                 }

          :hyper-moder          {:key :return_or_enter
                                 :alone {:key :return_or_enter}
                                 :condi :!Emacs
                                 }
          :tab-mode             {:key     :tab
                                 :afterup [{:set ["num-mode" 0]}
                                           {:set ["media-mode" 0]}
                                           ]
                                 }
          :media-mode           {:key :e :condi :tab-mode}
          :num-mode             {:key :q :condi :tab-mode}
          }

 :simlayers {
             :f-mode            {:key :f}     ; function
             :window-mode       {:key :w}
             :mouse-mode        {:key :e
                                 :afterup {:set ["mouse-scroll-mode" 0]}}
             :superduper-mode   {:key :d}
             ;; :media-mode        {:key :s}
             ;; :num-mode          {:key :z}
             }

 :main [
        ;; remap keys, more simple changes
        {:des   "caps_lock to esc, to ctrl as modifier"
         :rules [[:##caps_lock :l_ctrl nil {:alone :escape}]]}
        {:des   "return_enter to return_enter, to ctrl as modifier"
         :rules [[:##return_or_enter :r_ctrl nil {:alone :return_or_enter}]]}
        {:des   "left_shift to paranthesis, or left_shift as modifier"
         :rules [[:##left_shift :left_shift nil {:alone :left_paren}]]}
        {:des   "right_shift to paranthesis, or right_shift as modifier"
         :rules [[:##right_shift :right_shift nil {:alone :right_paren}]]}
        {:des   "grave_accent_and_tilde to fn as modifier"
         :rules [[:##grave_accent_and_tilde :fn_tilde nil {:alone :grave_accent_and_tilde}]]}
        {:des   "left_command to left_option"
         :rules [[:##left_command :left_option]]}
        {:des   "left_option to left_command"
         :rules [[:##left_option :left_command]]}

        ;; more complex key settings
        {:des   "SHyper"
         :rules [[:##left_control :shyper]]}
        {:des   "Hyper"
         :rules [[:##right_command :hyper]]}
        {:des   "fn to Super"
         :rules [[:##fn :super :nil {:alone :fn}]]}
        {:des   "right_option to shopco"
         :rules [[:##right_option :shopco]]}

        {:des   "launch alfred"
         :rules [:f-mode
                 [:spacebar :!Ospacebar]
                 ]}

        {:des   "navigate mail"
         :rules [:mail :f-mode
                 [:h :!OSh]
                 [:l :!OSl]
                 [:k :!OSk]
                 ]}

        {:des   "change firefox settings"
         :rules [:browser
                 [:!Ch :!Cleft_arrow]
                 [:!Cl :!Cright_arrow]
                 ]}

        {:des   "Press f9 twice to enter num-mode, press f9 once to leave it"
         :rules [[:f9 ["num-mode" 1] ["f9-pressesd-once" 1]]
                 [:f9 [:f9 ["f9-pressesd-once" 1]] ["num-mode" 0] {:delayed {:invoked ["f9-pressesd-once" 0] :canceled ["f9-pressesd-once" 0]}}]
                 :num-mode
                 [:f9 ["num-mode" 0]]
                 ]}

        {:des   "Press fn twice to enter superduper-mode, press fn once to leave it"
         :rules [[:fn ["superduper-mode" 1] ["fn-pressesd-once" 1]]
                 [:fn [:fn ["fn-pressesd-once" 1]] ["superduper-mode" 0] {:delayed {:invoked ["fn-pressesd-once" 0] :canceled ["fn-pressesd-once" 0]}}]
                 :superduper-mode
                 [:fn ["superduper-mode" 0]]
                 ]}

        ;; tilde mode
        {:des "grave_accent_and_tilde to map number row to function keys"
         :rules[:fn-tilde-mode
                [:1 :f1]
                [:2 :f2]
                [:3 :f3]
                [:4 :f4]
                [:5 :f5]
                [:6 :f6]
                [:7 :f7]
                [:8 :f8]
                [:9 :f9]
                [:0 :f10]
                [:hyphen :f11]
                [:equal_sign :f12]
                ]}

        ;; numpad mode
        {:des "Numpad Mode"
         :rules [:num-mode
                 [:m :keypad_0]
                 [:j :keypad_1]
                 [:k :keypad_2]
                 [:l :keypad_3]
                 [:u :keypad_4]
                 [:i :keypad_5]
                 [:o :keypad_6]
                 [:7 :keypad_7]
                 [:8 :keypad_8]
                 [:9 :keypad_9]
                 [:period :keypad_period]
                 [:slash :keypad_slash]
                 [:semicolon :keypad_hyphen]
                 [:p :keypad_plus]
                 [:0 :keypad_asterisk]
                 ]}

        ;; media control mode
        {:des "media controls"
         :rules [:media-mode
                 [:m :mute]
                 [:p :play_or_pause]
                 [:k :volume_increment]
                 [:j :volume_decrement]
                 [:l :fastforward]
                 [:h :rewind]
                 ]}

        ;; app launcher mode
        {:des "App Mode - launch apps"
         :rules [
                 ;; left side
                 [:!QWEw [:open "/Applications/Microsoft Word.app"]]
                 [:!QWEe [:open "/Applications/Emacs.app"]]
                 [:!QWEr [:open "/Applications/Zotero.app"]]
                 [:!QWEt [:open "/Applications/Alacritty.app"]]
                 [:!QWEd [:open "/Applications/Discord.app"]]
                 [:!QWEf [:open "/System/Library/CoreServices/Finder.app"]]
                 [:!QWEz [:open "/Applications/zoom.us.app"]]
                 [:!QWEx [:open "/Applications/Microsoft Excel.app"]]
                 [:!QWEb [:open "/Applications/firefox.app"]]
                 ;; !QWEright side
                 [:!QWE8 [:open "/Applications/Karabiner-EventViewer.app"]]
                 [:!QWE9 [:open "/Applications/Karabiner-Elements.app"]]
                 [:!QWE0 [:open "/Applications/Keyboard Maestro.app"]]
                 [:!QWEo [:open "/Applications/Microsoft Outlook.app"]]
                 [:!QWEp [:open "/Applications/PDF Expert.app"]]
                 [:!QWEn [:open "/Applications/Notability.app"]]
                 [:!QWEm [:open "/System/Applications/Music.app"]]
                 [:!QWEl [:open "/Applications/XMind.app"]]
                 [:!QWEbackslash [:open "/System/Applications/Messages.app"]]
                 ]}

        {:des "Hyper Moder - Control"
         :rules [:!Emacs :hyper-moder
                 ;; make copy and pasting more ergonomic
                 [:a :!Ta]
                 [:d :!Td]
                 [:z :!Cz]
                 [:!Sz :!SCz]
                 [:x :!Cx]
                 [:c :!Tc]
                 [:v :!Cv]
                 ;; keep control key working
                 [:q :!Wq]
                 [:w :!Ww :term]
                 [:w :!Cw :!term]
                 [:e :!We]
                 [:r :!Wr]
                 [:t :!Wt]
                 [:r :!Wr]
                 [:s :!Ws]
                 [:f :!Wf]
                 [:g :!Wg :term]
                 [:b :!Wb :term]
                 ]}

        {:des "SuperDuper Mode - Navigation [VI style]"
         :rules [:superduper-mode
                 ;; modifiers
                 [:##s :left_shift]
                 [:##a :left_option]
                 [:##f :left_command]
                 ;; movement
                 [:##j :down_arrow]
                 [:##k :up_arrow]
                 [:##h :left_arrow]
                 [:##l :right_arrow]
                 [:##b :!Oleft_arrow]
                 [:##w :!Oright_arrow]
                 ;; navigation between tabs
                 [:!Su :!CSopen_bracket :!excel]
                 [:!Su :!Oleft_arrow :excel]
                 [:!Si :!CSclose_bracket :!excel]
                 [:!Si :!Oright_arrow :excel]
                 ;; page navigation
                 [:##y :home]
                 [:u :page_up]
                 [:i :page_down]
                 [:##o :end]
                 ;; random excel macro
                 [:##semicolon [:!STOf :!STOCf] :excel]
                 ]}

        {:des "SuperDuper Mode - Deletion"
         :rules [:superduper-mode
                 [:##s :left_shift]
                 [:##n :!Odelete_or_backspace]
                 [:##m :delete_or_backspace]
                 [:##comma :delete_forward]
                 [:##period :!Odelete_forward :!Emacs]
                 [:##period :!Od :Emacs]
                 [:slash [:!CSleft_arrow :delete_or_backspace]]
                 [:!Sslash [:!CSright_arrow :delete_or_backspace]]
                 ]}

        {:des "Hyper Mode - Navigation [VI style]"
         :rules [:!Emacs :hyper-moder
                 [:##b :!Oleft_arrow :!term]
                 [:##w :!Oright_arrow :!term]
                 ]}

        {:des   "Mouse Keys Mode v4 (rev 1)"
         :rules [[:##j {:mkey {:vwheel 32}} [["mouse-scroll-mode" 1]] ["mouse-mode" 1]]
                 [:##h {:mkey {:hwheel 32}} [["mouse-scroll-mode" 1]] ["mouse-mode" 1]]
                 [:##k {:mkey {:vwheel -32}} [["mouse-scroll-mode" 1]] ["mouse-mode" 1]]
                 [:##l {:mkey {:hwheel -32}} [["mouse-scroll-mode" 1]] ["mouse-mode" 1]]
                 :mouse-mode
                 [:##down_arrow  {:mkey {:y 1200}}]
                 [:##up_arrow    {:mkey {:y -1200}}]
                 [:##left_arrow  {:mkey {:x -1200}}]
                 [:##right_arrow {:mkey {:x 1200}}]
                 [:##j {:mkey {:y 1200}}]
                 [:##k {:mkey {:y -1200}}]
                 [:##h {:mkey {:x -1200}}]
                 [:##l {:mkey {:x 1200}}]
                 [:##spacebar {:pkey :button1}]
                 [:##u :!CTd]           ; get three finger lookup
                 [:##i :!!6]
                 [:##o {:pkey :button2}]
                 [:##r ["mouse-scroll-mode" 1] nil {:afterup ["mouse-scroll-mode" 0]}]
                 [:##q {:mkey {:speed 2}}]
                 [:##w {:mkey {:speed 0.5}}]]}

        {:des "Window Mode - Move and Resize Windows"
         :rules [:window-mode
                 ;; rectangle settings
                 [:##q :left_shift]
                 [:h :!!h]
                 [:l :!!l]
                 [:k :!!k]
                 [:j :!!j]
                 [:spacebar :!!return_or_enter]
                 [:n :!!i]                ; next
                 [:p :!!u]                ; previous
                 [:!So {:pkey :button31}] ; expose all apps
                 [:o   {:pkey :button32}] ; expose frontmost app
                 ;; close app and windows
                 [:!S0 :!Cq]              ; close the app
                 [:0 :!Cw]                ; close the active window / tab
                 ;; cycle through app windows
                 [:!Sh :!CSgrave_accent_and_tilde]
                 [:!Sl :!Cgrave_accent_and_tilde]
                 ;; cycle through apps
                 [:!Sk :!CStab]
                 [:!Sj :!Ctab]
                 ]
         }

        {:des "tab-mode"
         :rules[:tab-mode
                [:h "echo \"h key from tab-mode\""]]
         }
        ]

 ;; code won't read cheatsheet section
 ;; ! stand for mandatory
 ;; # stand for optional
 ;; C T O S for left command control optional shift
 ;; F for fn
 ;; need to prefix C T O S F with ! or #
 :cheatsheet {:!Ca "command a" ;; mandatory left_command
              :!Ta "control a" ;; mandatory left_control
              :!Oa "option a"
              :!Sa "shift a"
              :#Sa "shift a" ;; keycode a, optional left_shift
              :!CTOa "command control option a"
              :!Cspacebar "command space"
              :!Fa "fn a"
              :##a "keycode a optional any"
              :!!a "mandatory hyper(control command option shift) a "
              :sample-configurations [
                                      {:des "Caps lock mode / Esc" :rules [[:##caps_lock {:set ["caps-lock-mode" 1]} nil {:alone :escape :afterup {:set ["caps-lock-mode" 0]}}]]}
                                      {:des "Caps vim navigation" :rules [:caps-lock-mode [:h :left_arrow] [:j :down_arrow] [:k :up_arrow] [:l :right_arrow]]}
                                      {:des "SuperDuper <- S+D"
                                       :rules [:!qmk [{:sim [:s :d]
                                                       :simo {:interrupt true
                                                              :dorder :insensitive
                                                              :uorder :insensitive
                                                              :afterup {:set ["superduper-mode" 0]}}} {:set ["superduper-mode" 1]}]]}

                                      ]
              }}
